.App{
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Items{
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Cart{
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Item{
  margin: 10px 0;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Cart-item{
  margin: 10px 0;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}